
body{
	display: block;
	overflow-x: hidden;
	height: 550px;
	/*background-color: #FBC17D;

	/*overflow: hidden;  /*Cache la barre de scroll horizontale */

}

nav.menu-nav{
	background-color: red;
	width: 90%;
	height: 11%;
	top: 0;
	
	position: -webkit-sticky;
  	position: sticky;
  	z-index: 2;

}

nav.menu-nav ul.menu_principal{
	background-image: linear-gradient(to right, rgba(254,254,254,1),rgba(254,158,68,1),rgba(253,158,68,1)); /* Créer un dégradé; rgba(253,158,68,1)*/ 
	width: 110%;
	height: 225%;
	position: absolute; top: -25px; left: -0.56%; 
}



nav.menu-nav ul.menu_principal li.boutton-renault{
	list-style-type: none; /*Enlève les points devant les bouttons*/
	display: inline-block; /*Met en ligne le menu*/
	/*background-color: rgba(50,250,50,0.5);*/
	position: relative; left: 3%; top: 12.5%;	

}

nav.menu-nav ul li.boutton-renault img{
	width: 160px;
	position: relative; left: 0px; top : 0%;
}

nav.menu-nav ul.menu_principal li.boutton-renault a{
	text-decoration: none; /* Enlève le surlignage des mots */
	/*color: rgba(50,150,50,0.5);/* Couleur en ft du rouge, vert, bleue et transparence d'écriture */
	/*background-color: rgba(150,150,150,0.5);*/
	font-size: 18px;

	padding-left: 15px; 
	padding-right: 15px;
	letter-spacing: 1px;
}

nav.menu-nav ul.menu_principal li.boutton{
	list-style-type: none; /*Enlève les points devant les bouttons*/
	display: inline-block; /*Met en ligne le menu*/	
	background-color: none;
	position: relative; left: 9%; top: -57.5%;
	margin: 20px;

}

nav.menu-nav ul.menu_principal li.boutton a{
	text-decoration: none; /* Enlève le surlignage des mots */
	color: #393c41;
	background-color: none;

	border-bottom-right-radius: 40px; /* arc de cercle bord en bas à droite*/
	border-bottom-left-radius: 40px; /* """""""""" à gauche */
	border-top-right-radius: 40px; /* arc de cercle bord en haut à droite*/
	border-top-left-radius: 40px; /* """""""""" à gauche */
	
	padding-right: 10px; /* augmente la taille du background à droite */
	padding-left: 10px; /* """"" à gauche*/
	padding-top: 5px; /* """"" en haut*/
	padding-bottom:5px; /* """"" en bas */

	font-family: BlinkMacSystemFont,Segoe UI,Arial;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;

}

nav.menu-nav ul.menu_principal li.boutton:hover a{
	color: white;
	background-color: rgba(0,0,0,0.7) ;

	border-bottom-right-radius: 40px; /* arc de cercle bord en bas à droite*/
	border-bottom-left-radius: 40px; /* """""""""" à gauche */
	border-top-right-radius: 40px; /* arc de cercle bord en haut à droite*/
	border-top-left-radius: 40px; /* """""""""" à gauche */

	transition: 0.3s all; /* Permet d'activer une transition (chgmt de couleur) dans un temps donné*/

}


ul.menu_deroulant{
	position: absolute; left: 88.5%; top: -58.7%;
	width: 20%;
	
	display: inline-block;
	font-weight: bold;
	font-family: BlinkMacSystemFont,Segoe UI,Arial;
	font-size: 18px;
}

ul.menu_deroulant li.compte4l{
	list-style-type: none;
	background-color: black;
	color: white; /* #393c41;*/
	border: none;
	cursor: pointer;
	padding: 55px;
	margin-top:10px;
}

ul.menu_deroulant li.compte4l{
	text-decoration: none;

}

ul.menu_deroulant li.compte4l:hover {
	background-color: rgba(0,0,0,0.7);
	color: white;
}


ul.menu_deroulant ul.sous_compte4l {
	display: none;
	background-color: orange;
	
}

ul.menu_deroulant ul.sous_compte4l li{
	list-style-type: none;
}

ul.menu_deroulant ul.sous_compte4l li a:link, ul.menu_deroulant ul.sous_compte4l li a:visited {
	color: #393c41;
	padding: 15px;
	text-decoration: none;
	display: block;
}

ul.menu_deroulant ul.sous_compte4l li a:hover {background-color: rgba(0,0,0,0.7); color: white; border-top: 1px solid white;}


ul.menu_deroulant:hover ul.sous_compte4l{
	display: block;
}



h2{
	z-index: 0;
	width: 50%;
	background-color: none;
	color: #393c41;
	position: absolute; left: 25%; top: 21%;
	text-align: center;
	font-family: BlinkMacSystemFont,Segoe UI,Arial;
	font-size: 40px;
	font-weight: bold;

}


div.déco1{
	z-index: 1;
	background-color: #393c41;
	width: 101.15%;
	height: 0.65%;
	position: absolute; top: 39.5%; left: -0.56%;

}

div.background {
	background-color: none;
	background-image: linear-gradient(to right, rgba(254,254,254,1), rgba(125,125,255,1));
	z-index: -1;
	position: absolute; left: 0%; top: 39.8%;
	width: 101.15%;
	height: 60%;
	
	/*background-size: 100%; /*taile en fond :100% de l'écran*/
	/*background-color: white; 
	font-family: arial, "Times New Roman";*/
	
}

div.background img{
	margin-left: 10%; 
	margin-top: 5%;
	height: auto;
	width: 33%;
}

.intro1{
	width: 35%;
	height: 45%;
	position: absolute; left: 55%; top: 45%;
	color: black;
	background-color: none;
	font-family: BlinkMacSystemFont,Segoe UI,Arial;
	font-weight: bold;
	letter-spacing: 1px;
	
}

div.déco2{
	background-color: #393c41;
	z-index: 2;
	width: 101.15%;
	height: 0.65%;
	position: absolute; top: 99.4%; left: -0.56%;

}

div.block-bas{
	background-color: grey;
	width: 101.15%;
	height: 17.8%;
	position: absolute;top: 100%; left: -0.56%;
}



h3.contact{
	position: relative; top: 25%; left: 15%;
	color: white;
	font-family: BlinkMacSystemFont,Segoe UI,Arial;
	letter-spacing: 1px;
}
h3.contact a{
	color: blue;
	background-color: none;
}

h3.contact a:hover{
	color: #01E22E;
}

h3.actu{
	position: relative; top: -12.5%; left: 55%;
	color: white;
	font-family: BlinkMacSystemFont,Segoe UI,Arial;
	letter-spacing: 1px;
}


nav.menu-bas{
	position: relative; left: 79%; top: -65%;
}

li.info{
	list-style-type: none;
	display: inline-block;
	margin: 15px;
}


li.info img{
	width: 30px;
}




/*
nav.menu-nav ul li.menuboutton{
	list-style-type: none; /*Enlève les points devant les bouttons*/
	display: inline-block; /*Met en ligne le menu*/
	
	background-color: yellow;
	width: 20px;
	height: 20px;
	position: relative; top: 25px; left: 175px;
}

/*
nav.menu-nav ul li.menuboutton img{
	background-image: none;
	position: relative; top: 0px; left: -0.70px;
	width: 20px;
	height: auto;
}


nav.menu-nav ul li.menuboutton a{
	text-decoration: none;
	color: rgba(50,150,50,0);/* Couleur en ft du rouge, vert, bleue et transparence d'écriture */
	background-color: rgba(50,50,50,0);
	font-size: 18px;
	padding-left: 2.5px; 
	padding-right: 2.5px;
}

/*
nav.menu-nav ul li.menuboutton:hover a{
	color: rgba(50,150,50,0);
	background-color: rgba(0,0,0,0);

	border-bottom-right-radius: 40px 40px; /* arc de cercle bord en bas à droite*/
	border-bottom-left-radius: 40px 40px;
	border-top-right-radius: 40px 40px; /* arc de cercle bord en haut à droite*/
	border-top-left-radius: 40px 40px;

	transition: 0.3s all; /* Permet d'activer une transition (chgmt de couleur) dans un temps donné*/





/*
nav.store ul{
	background-color: none;
	width: 250px;
	margin-left: 41.2%;
	position: relative; top: -50px;
}

nav.store ul li.btn-store{
	list-style-type: none; /*Enlève les points devant les bouttons*/
	display: inline-block; /*Met en ligne le menu*/	
}

/*
nav.store ul li.btn-store a{
	color: #393c41;
	background-color: none;
	position: relative; left: center;
	font-size: 15px;
	font-family: BlinkMacSystemFont,Segoe UI,Arial;

}	

nav.store ul li.btn-store:hover a{
	text-decoration: bold;
	 
	/*transition: box-shadow .25s cubic-bezier(.5,.25,.25,.75),color .25s cubic-bezier(.5,.25,.25,.75);*/
	
	
}


/*
nav.menu-bas ul{
	background-color: none;
	width: 800px;
	position: relative; left: 320px; top: 550px; /* Placement du bloc bouton */
	
}
/*
nav.menu-bas ul li.btn-config1{
	list-style-type: none; /*Enlève les points devant les bouttons*/
	display: inline-block; /*Met en ligne le menu*/	

}

/*
nav.menu-bas ul li.btn-config1 a{
	text-decoration: none;
	color: white; 
	background-color: rgba(0,0,0,0.7); /* Transparence: convertir la couleur en rgba*/
	
	padding-right: 50px; 
	padding-left: 50px;
	padding-top: 10px; 
	padding-bottom:10px;

	border-bottom-right-radius: 40px 40px; /* arc de cercle bord en bas à droite*/
	border-bottom-left-radius: 40px 40px;
	border-top-right-radius: 40px 40px; /* arc de cercle bord en haut à droite*/
	border-top-left-radius: 40px 40px;

	/*position: relative; left: 300px; Placement des boutons */ 
	margin: 10px;
	/*font-weight: bold;*/
	font-family: BlinkMacSystemFont,Segoe UI,Arial;
	font-size: 15px;
}

/*
nav.menu-bas ul li.btn-config1:hover a{
	color: white;
	background-color: rgba(0,0,0,0.7);
	transition: 0.3s all;
}

nav.menu-bas ul li.btn-config2{
	list-style-type: none; /*Enlève les points devant les bouttons*/
	display: inline-block; /*Met en ligne le menu*/	

}

/*
nav.menu-bas ul li.btn-config2 a{
	text-decoration: none;
	color: #393c41; 
	background-color: rgba(254,255,254,0.7); /* Transparence: convertir la couleur en rgba*/
	
	position: relative; left: 0px;

	padding-right: 50px; 
	padding-left: 50px;
	padding-top: 10px; 
	padding-bottom:10px;

	border-bottom-right-radius: 40px 40px; /* arc de cercle bord en bas à droite*/
	border-bottom-left-radius: 40px 40px;
	border-top-right-radius: 40px 40px; /* arc de cercle bord en haut à droite*/
	border-top-left-radius: 40px 40px;

	/*position: relative; left: 300px; Placement des boutons */ 
	margin: 10px;
	/*font-weight: bold;*/
	font-family: BlinkMacSystemFont,Segoe UI,Arial;
	font-size: 15px;
}

/*
nav.menu-bas ul li.btn-config2:hover a{
	color: #393c41;
	background-color: rgba(254,255,254,0.7);
	transition: 0.3s all;
}
	
/*
}

/*p.css{
	color: red;
	background-color: #7E0AAF;
	font-size: 20px;
	font-weight:bold; 
}




h1{
	padding-left: 150px;
	font-size: 25px;
}

a.model3{
	color: #0A7EAF;
}*/


